.wp-block-post:has(.out-case-overlay):has(.out-case-overlay-category) {
  position: relative;
}
.wp-block-cover:has(.out-case-overlay) {
  padding: 1rem !important;
}
.wp-block-cover__inner-container:has(.out-case-overlay) {
  align-self: center;
  width: 100% !important;
}
.single-cases {
  li {
    &:has(.link-cover-to-post-small) {
      .wp-block-cover__inner-container {
        opacity: 0;
        transition: all 0.25s ease-in-out;
      }
    }
    &:has(.link-cover-to-post-small:hover) {
      .wp-block-cover__inner-container {
        opacity: 1;
        transition: all 0.25s ease-in-out;
      }
    }

    .link-cover-to-post-small {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 100;
    }
  }
}
.featured-image-hover-content {
  .wp-block-column {
    p,
    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-top: 0;
      margin-bottom: 0;
      text-align: center!important;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-size: 1.5rem;
    }
    p {
    }
  }
}
.out-case-overlay {
  $top: &;

  p:is(:empty) {
    display: none;
  }
  align-items: center;
  background-color: #111111;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: var(--wp--preset--spacing--2);
  padding-right: var(--wp--preset--spacing--2);
  padding-bottom: var(--wp--preset--spacing--2);
  padding-left: var(--wp--preset--spacing--2);

  &-text {
    max-width: 476px;
    text-align: center;
    > p {
      color: #fff;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.16px;
      line-height: 1.4;
    }
  }
  &-columns {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    width: 100%;
  }
  &-column {
    color: #fff;
    text-align: center;
    > h5 {
      margin-top: 0;
      margin-bottom: 0;
    }
    > p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &-divider {
    max-width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  &-category {
    background-color: #fff;
    color: #000;
    left: 2rem;
    margin-top: 0;
    position: absolute;
    top: 2rem;
    z-index: 100;
    &-term {
      box-sizing: border-box;
      line-height: 1;
      letter-spacing: 0.96px;
      height: 1.5rem;
      font-size: 12px;
      text-transform: uppercase;
      background-color: #ffffff;
      color: #111111;
      display: inline-block;
      padding-top: 6px;
      padding-left: 1.5rem;
      padding-bottom: 6px;
      padding-right: 8px;
      margin: 0;
      border-radius: 2px;
      width: -moz-fit-content;
      width: fit-content;
      &:before {
        background-color: #111111;
        border-radius: 50px;
        bottom: 0;
        color: #111111;
        content: "";
        display: inline-block;
        height: 0.5rem;
        left: 0.5rem;
        margin-top: auto;
        margin-bottom: auto;
        position: absolute;
        opacity: 1;
        top: 0;
        width: 0.5rem;
      }
    }
  }
}
