// formidable forms SCSS //

.frm_forms {
  form {
    .frm_form_fields {
      input[type="text"],
      input[type="email"],
      input[type="url"],
      input[type="tel"],
      input[type="number"],
      input[type="password"],
      input[type="checkbox"],
      textarea {
        background-color: #ffffff !important;
        border-radius: 2px;
        padding: 1rem 1.5rem;
        font-size: 14px !important;
      }
      // .frm_submit {
      //   button {
      //     &.frm_button_submit {
            // box-shadow: none;
            // text-transform: uppercase;
            // font-family: var(--wp--preset--font-family--body);
            // font-size: var(--wp--preset--font-size--paragraph-s) !important;
            // font-style: normal;
            // font-weight: 500;
            // line-height: 1.7;
            // letter-spacing: 0.28px;
            // padding: 8px 16px 8px 8px;
            // background-color: #111111;
            // border: 1px solid #ffffff;
            // border-radius: 2px;
            // &:hover {
            //   background: #572f1e;
            // }
               // &:active {
               //    background-color: #111111;
               // }
      //     }
      //   }
      // }
      .frm_error {
         background-color: #FEE4E2;
         border: 1px solid #F5B8AA;
         border-radius: 8px;
         color: #F04438;
         font-size: 14px;
         margin: 2px 0;
         padding: 5px;
      }

      #frm_field_6_container {
         margin-bottom: 0;
      }
      .frm_form_field {
         margin-bottom: 24px !important;
      }
    }
  }
}




// old formidable SCSS //

// .frm_forms {
//   form {
//     .frm_form_fields {
//       input[type="text"],
//       input[type="email"],
//       input[type="url"],
//       input[type="tel"],
//       input[type="number"],
//       input[type="password"],
//       textarea {
//         background-color: #ffffff !important;
//         border-radius: 2px;
//         padding: 1rem 1.5rem;
//         font-size: 14px !important;
//       }
//       input[type="checkbox"] {
//         position: relative;
//         &:after {
//           content: "";
//           position: absolute;
//           top: 0;
//           width: 100%;
//           height: 100%;
//           background-color: var(--wp--preset--color--cream) !important;
//           display: inline-block;
//         }
//         &:checked {
//           &:after {
//             display: none;
//           }
//         }
//       }
//       .frm_checkbox {
//         display: flex !important;
//         gap: 0.5rem !important;
//       }
//       .frm_submit {
//         button {
//           &.frm_button_submit {
//             box-shadow: none;
//             text-transform: uppercase;
//             font-family: var(--wp--preset--font-family--body);
//             font-size: var(--wp--preset--font-size--paragraph-m) !important;
//             font-size: 14px !important;
//             font-style: normal;
//             font-weight: 500;
//             line-height: 1.7;
//             letter-spacing: 0.28px;
//             background-color: #111111;
//             // &:hover {
//             //   background: #572f1e;
//             // }
//           }
//         }
//       }
//     }
//     .frm_message {
//       background-color: #e9dcd3 !important;
//       color: #572f1e !important;
//       font-family: var(--wp--preset--font-family--body) !important;
//       border: 1px solid #572f1e !important;
//       * {
//         color: #572f1e !important;
//         margin: 0 !important;
//       }
//     }
//     &.mailchimp-form {
//       .frm_form_fields {
//         fieldset {
//           padding: 0 !important;
//           .frm_fields_container {
//             display: flex;
//             align-items: flex-start;
//             justify-content: flex-start;
//             .form-field {
//               margin-bottom: 0 !important;
//             }
//             .form-field:first-of-type {
//               flex-grow: 1;
//             }
//           }
//         }
//       }
//       input {
//         height: 2.88rem;
//         font-family: var(--wp--preset--font-family--body);
//         font-size: var(--wp--preset--font-size--0-875);
//         font-weight: 400;
//         line-height: 1;
//         &::placeholder {
//           color: rgba(87, 47, 30, 0.7);
//           font-family: var(--wp--preset--font-family--body);
//           font-size: var(--wp--preset--font-size--0-875);
//           font-weight: 400;
//           line-height: 1;
//         }
//         &:focus-visible {
//           border-color: #edc07f;
//         }
//       }
//       button {
//         &.frm_button_submit {
//           margin: 0;
//           height: 2.88rem;
//           font-family: var(--wp--preset--font-family--body);
//           font-size: var(--wp--preset--font-size--0-875);
//           font-weight: 400;
//           line-height: 1;
//         }
//       }
//     }
//     &.mailchimp-footer-form {
//       .frm_form_fields {
//         fieldset {
//           padding: 0 !important;
//           .frm_fields_container {
//             display: flex;
//             align-items: flex-start;
//             justify-content: flex-start;
//             .form-field {
//               margin-bottom: 0 !important;
//             }
//           }
//         }
//       }
//       .frm_error {
//         color: #edc07f !important;
//       }
//       input {
//         height: 2.88rem;
//         font-family: var(--wp--preset--font-family--body);
//         font-size: var(--wp--preset--font-size--0-875);
//         font-weight: 400;
//         line-height: 1;
//         color: rgba(233, 220, 211, 0.8) !important;
//         border-color: rgba(233, 220, 211, 0.8) !important;
//         &::placeholder {
//           color: rgba(233, 220, 211, 0.8);
//           font-family: var(--wp--preset--font-family--body);
//           font-size: var(--wp--preset--font-size--0-875);
//           font-weight: 400;
//           line-height: 1;
//         }
//         &:focus {
//           color: #e9dcd3;
//           border-color: #e9dcd3;
//           box-shadow: none;
//         }
//         &:focus-visible {
//           border-color: #edc07f;
//         }
//       }
//       button {
//         &.frm_button_submit {
//           margin: 0;
//           color: rgba(233, 220, 211, 0.8);
//           border-color: rgba(233, 220, 211, 0.8);
//           height: 2.88rem;
//           font-family: var(--wp--preset--font-family--body);
//           font-size: var(--wp--preset--font-size--0-875);
//           font-weight: 400;
//           line-height: 1;
//           &:hover {
//             color: #e9dcd3;
//             border-color: #e9dcd3;
//           }
//         }
//       }
//     }
//   }
// }
