.frm_forms {
  .frm_error,
  .frm_message,
  .frm_error_style {
    border-radius: 2px!important;
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
  }
  form {
    .frm_form_fields {       
      .frm_opt_container:has(input[type="checkbox"]) {
        background-color: rgba(255, 255, 255, 0.25);
        border-radius: 2px;
        display: flex;
        font-size: 14px;
        gap: 0.5rem;
        padding: 1rem 1.5rem;
        .frm_checkbox {
          margin-bottom: 0;
          input {
            border-radius: 2px !important;
          }
        }
        span {
          a {
            border-bottom: solid rgba(255, 255, 255, 0.75) 1px;
            text-transform: lowercase;
            &:hover {
              border-color: #fff;
            }
          }
        }
      }
      textarea,
      input[type="url"],
      input[type="tel"],
      input[type="text"],
      input[type="email"],
      input[type="number"],
      input[type="password"] {
        background-color: #ffffff !important;
        border-radius: 2px;
        padding: 1rem 1.5rem;
        font-size: 14px !important;
      }
      .frm_error {
        background-color: #fee4e2;
        border: 1px solid #f5b8aa;
        border-radius: 8px;
        color: #f04438;
        font-size: 14px;
        margin: 2px 0;
        padding: 5px;
      }

      #frm_field_6_container {
        margin-bottom: 0;
      }
      .frm_form_field {
        margin-bottom: 24px !important;
      }
    }
  }
  button {
    &:hover {
      cursor: pointer;
    }
  }
}
