header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  right: 0;

  background: rgba(255, 250, 243, 0.5);
  backdrop-filter: blur(50px);
  z-index: 10;
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .out-logo {
      margin-right: auto;
      width: 97px;
      height: 40px;
    }
    .header-links {
      display: flex;
      justify-content: center;
      flex: 1;
      list-style: none;
    }
    .header-button {
      margin-left: auto;
    }
  }
  .wp-block-navigation__responsive-container-open {
    margin-left: auto;
  }
}

@media (max-width: 800px) {
   header {
      background: rgb(255, 250, 243);
      backdrop-filter: none;
      #modal-2 {
         background-color: #111111;
         color: #ffffff; 
         width: 100vw !important;
         padding: 0 !important;
         height: 336px;
         overflow: hidden; 
         .header-button {
            margin: 0; 
         }
      }

      .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
         display: none !important;
      }
   
      .wp-block-navigation__responsive-container-open:not(.always-shown) {
         display: block !important;
     }
   }
}


// .wp-block-navigation__responsive-container .has-modal-open .is-menu-open 



// html:has(nav.header-navigation.open, .search-content-container.open) {
//   scrollbar-gutter: stable;
//   body {
//     overflow: hidden;
//   }
// }

// main {
//   margin-top: var(--header-height);
// }

// .wp-block-search {
//   .wp-block-search__input {
//     display: none;
//   }
//   .wp-block-search__button {
//     padding: 0;
//     border: 0;
//   }
// }

// .wp-block-button.is-style-menu-btn {
//   background: transparent;
//   outline: none;
//   border: none;
//   padding-top: var(--wp--preset--spacing--1);
//   padding-right: var(--wp--preset--spacing--2);
//   padding-bottom: var(--wp--preset--spacing--1);
//   padding-left: var(--wp--preset--spacing--2);
//   cursor: pointer;
//   &:focus-visible .wp-block-button__link {
//     outline: 2px dotted var(--wp--preset--color--brown) !important;
//     outline-offset: 4px;
//     border-radius: 2px;
//     z-index: 1;
//   }
//   .wp-block-button__link {
//     border: 0;
//     // padding: 0;
//     height: 25px;
//     width: 30px;
//     position: relative;
//     padding: 0 !important;
//     transform: rotate(0deg);
//     transition: 0.1s ease-in-out;
//     display: block;
//     &:hover {
//       background-color: transparent !important;
//     }
//     hr {
//       margin: 0;
//       display: block;
//       position: absolute;
//       left: 0;
//       height: 2px !important;
//       width: 30px !important;
//       opacity: 1;
//       transform: rotate(0deg);
//       transition: all 0.2s ease-in-out;
//       border: none;
//       background: var(--wp--preset--color--dark-gray);
//       &.line-1 {
//         top: 7px;
//       }
//       &.line-2 {
//         bottom: 7px;
//       }
//     }
//   }
//   &.open {
//     hr {
//       &.line-1 {
//         top: 11px;
//         transform: rotate(45deg);
//       }
//       &.line-2 {
//         bottom: 12px;
//         transform: rotate(-45deg);
//       }
//     }
//   }
// }
// nav.header-navigation {
//   position: fixed;
//   top: var(--header-height);
//   bottom: 0;
//   right: -30rem;
//   max-width: 30rem;
//   width: 100%;
//   transition: right 0.2s;
//   z-index: 11;
//   overflow-y: auto;
//   visibility: hidden;
//   &::before {
//     content: "";
//     position: fixed;
//     top: var(--header-height);
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: var(--wp--preset--color--black);
//     opacity: 0;
//     visibility: hidden;
//     transition: all 0.2s;
//   }
//   &.open {
//     right: 0;
//     &::before {
//       opacity: 0.2;
//       visibility: visible;
//     }
//   }
//   .wp-block-navigation__container {
//     box-sizing: border-box;
//     width: 100%;
//     z-index: 1;
//     border-left: 1px solid
//       color-mix(in srgb, var(--wp--preset--color--light-brown) 40%, transparent);
//     li {
//       border-top: 1px solid
//         color-mix(
//           in srgb,
//           var(--wp--preset--color--light-brown) 40%,
//           transparent
//         );
//       width: 100%;
//       .wp-block-navigation-item__content {
//         width: 100%;
//         padding: var(--wp--preset--spacing--2);
//         transition:
//           all 0.2s,
//           outline 0.1s;
//         &:hover {
//           background-color: var(--wp--preset--color--soft-peach);
//           text-decoration: none;
//         }
//         &:focus-visible {
//           outline: 2px dotted var(--wp--preset--color--brown) !important;
//           outline-offset: 0px;
//           border-radius: 2px;
//           z-index: 1;
//         }
//       }
//     }
//   }
// }
