.swiper {
   .swiper-wrapper {
      padding-bottom: 2.5rem;
      .swiper-slide {
         display: flex;
         justify-content: center;
         align-items: center;
         .post-card {
            width: 100%;
            .post-card__content {
               padding: 0.875rem;
               display: flex;
               flex-direction: column;
               .post-card__title {
                  margin: 0;
                  font-size: var(--wp--preset--font-size--1-000);
                  font-family: var(--wp--preset--font-family--body);
                  font-weight: 400;
               }
               .post-card__excerpt {
                  margin: 0;
                  margin-top: 0.375rem;
                  opacity: 0.7;
                  font-size: var(--wp--preset--font-size--0-750);
               }
               .post-card__read-more {
                  font-size: var(--wp--preset--font-size--0-875);
                  opacity: 0.7;
                  text-transform: uppercase;
                  margin-top: var(--wp--preset--font-size--0-875);
               }
            }
            .post-card__image {
               display: flex;
               img,
               svg {
                  width: 100%;
                  height: auto;
                  aspect-ratio: 4 / 3;
                  object-fit: cover;
               }
            }
         }
      }
   }
   .swiper-scrollbar {
      background: color-mix(
         in srgb,
         var(--wp--preset--color--dark-gray) 30%,
         transparent
      );
      .swiper-scrollbar-drag {
         background-color: var(--wp--preset--color--dark-gray);
      }
   }
}
