.editor-styles-wrapper {
   .edit-post-visual-editor__post-title-wrapper {
      margin: 0 !important;
      background: #fff;
      color: #000;
      border-bottom: 2px solid var(--wp-admin-theme-color, #007cba);
      height: 100%;
      max-height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
.full-width-control {
   width: 100%;
}

.is-w-full {
   width: 100%;
   > img {
      width: 100% !important;
   }
}

.is-h-full {
   height: 100%;
   > img {
      height: 100%;
   }
}

a:active,
a:focus,
a:hover {
   color: inherit;
}

@media screen and (max-width: 783px) {
   .is-hidden-mobile {
      display: none !important;
   }
}

@media screen and (min-width: 782px) {
   .is-hidden-desktop {
      display: none !important;
   }
}
.is-hidden {
   display: none !important;
}

.is-overflow-x {
   overflow-x: auto;
}

.wp-block-list {
   &.is-style-checklist {
      li {
         display: flex;
         &::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M0.210938 5.87906C1.8832 7.68844 3.50461 9.31734 5.0632 11.3775C6.75773 8.00719 8.49211 4.62516 11.3538 0.962578L10.5827 0.609375C8.16633 3.17203 6.28898 5.59781 4.65773 8.48063C3.52336 7.45875 1.69008 6.01266 0.570703 5.26969L0.210938 5.87906Z' fill='currentColor'/%3E%3C/svg%3E");
            position: relative;
            top: 2px;
            left: -18px;
            margin-right: -10px;
         }
      }
   }
}

// Mostly for Billinge: make sure headings inherit Group color value
.wp-block-group {
   &.has-text-color {
      .wp-block-heading:not(.has-text-color) {
         color: inherit !important;
      }
   }
}
.without_ampm::-webkit-datetime-edit-ampm-field {
   display: none;
}
input[type='time']::-webkit-datetime-edit-ampm-field {
   display: none;
}

.open-menu-wrapper {
   opacity: 1 !important;
   visibility: visible !important;
   > .wp-block-group {
      right: 0 !important;
   }
}

.editor-styles-wrapper {
   .wp-block-button.is-style-menu-btn:has(.wp-block-button__link > span) {
      background-color: transparent !important;
      border-color: transparent !important;
      height: 14px;
      width: 34px;
      cursor: pointer;
      span {
         display: none;
      }
      .wp-block-button__link {
         display: none;
      }
      &::before {
         content: url('data:image/svg+xml,<svg width="30" height="10" viewBox="0 0 30 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30 0V2H0V0H30Z" fill="%23303030"/><path d="M30 8V10H0V8H30Z" fill="%23303030"/></svg>');
         display: flex;

         background: transparent;
         transition: all 0.2s;
         height: 10px;
         width: 30px;
         padding: 2px;
      }
   }
}
